@import '_colors';
body {
    padding-top: 10px;
}

.main-content {
    padding-left: 50px;
    margin-top: 50px;
    min-height: 100%;
}

.header {
    position: sticky;
}

.footer {
    background-color: $c02;
    text-color {
        color: $c01;
    }
}