<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>
    <%= page.title ? `${page.title} | ` : '' %>
        <%= site.title %>
</title>

<!-- CSS (load bootstrap from a CDN) -->
<meta name="description" content="<%= page.description || site.description %>" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/styles.css">