@import '_colors';
body {
    padding-top: 10px;
}

.main-content {
    padding-left: 50px;
    min-height: 100%;
}

.header {
    position: sticky;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    background: $c01;
    p {
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
    }
}