<!DOCTYPE html>
<html lang="en-US">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/header') %>

        <section class="main-content">
            <%- body %>
        </section>
        <footer class="footer">
            <%- include('../partials/footer') %>
        </footer>
</body>

</html>