<!DOCTYPE html>
<html lang="en-US">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/header') %>

    <section class="main-content">
        <%- body %>

        <footer class="site-footer">
            <%- include('../partials/footer') %>
        </footer>
    </section>
</body>

</html>